* {
    background-color: rgb(33, 34, 35);
    font-family: 'solway', cursive;
    font-size: 1.1rem;
    color: white;
    padding: 0px;
    margin: 0px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgb(50, 51, 52);
    outline-style: solid;
    outline-color: mediumaquamarine;
    outline-width: 5px;
    text-align: center;
    font-size: 2.75rem;
}

h2 {
    font-size: 1.5rem;
}

.mainindex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_picture {
    width: 350px;
    height: auto;
    border-style: solid;
    border-color: mediumaquamarine;
    border-width: 5px;
    border-radius: 25px;
}

#main_picture:hover {
    border-width: 8px;
    border-color: rgb(150, 255, 210);
}

#main_wrapper {
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr
}