* {
    background-color: rgb(33, 34, 35);
    font-family: 'solway', cursive;
    font-size: 1.1rem;
    color: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
   text-align: center;
    font-size: 3rem; 
}

h2 {
    font-size: 2rem;
}

#back_button_menu {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: end; 
}

#back_button_animals {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 65px;
    width: 100%;
    background-color: rgb(50, 51, 52);
    outline-style: solid;
    outline-color: mediumaquamarine;
    outline-width: 5px;
    
}

footer {
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: rgb(50, 51, 52);
    outline-style: solid;
    outline-color: mediumaquamarine;
    outline-width: 5px;
    font-size: 0.7rem;
}



/*------------------------------------------------------------main site------------------------------------------------------------*/

#main_index_wrapper {
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr
}

.mainindexclass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_picture {
    width: 350px;
    height: 400px;
    border-style: solid;
    border-color: mediumaquamarine;
    border-width: 5px;
    border-radius: 25px;
}

#main_picture:hover {
    border-width: 8px;
    border-color: aquamarine;
}

#background_wrapper {
    width: 100%;
    padding-top: 100px;
}

#background_picture {
    width: 100%;
    height: 425px;
    outline-style: solid;
    outline-width: 5px;
    outline-color: mediumaquamarine;
}

#employee_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 100px;
}

#employee_text {
    padding-top: 50px;
}

.employee_portrait {
    width: 250px;
    height: auto;
}

/*------------------------------------------------------------menu site------------------------------------------------------------*/

#menu_title {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-top: 50px;
}

#main_menu_wrapper {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.food_item {
    flex-direction: column;
    display: flex;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 35px;
    outline-color: rgb(0, 85, 85);
    outline-offset: -5px;
    width: 430px;
    height: 800px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    align-items: center;
}

#food_img {
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: mediumaquamarine;
    width: 400px;
    height: 400px;
}

#seating_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column-gap: 40px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 175px;
    padding-bottom: 100px;
    text-align: justify;
    align-items: center;
}

#seating_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

#seating_img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: mediumaquamarine;
}

/*----------------------------------------------------------animal site------------------------------------------------------------*/

#animal_title {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-top: 50px;
}

#main_animal_wrapper {
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 100px;
}

#animal_img {
    width: 365px;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: mediumaquamarine;
}

.animal_right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    text-align: end;
    grid-column-gap: 75px;
}

.animal {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}